<a href="https://colab.research.google.com/github/alouvre/ProyekDesa_Sedah/blob/main/ProyekDesa_SensusDesaSedah.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!git clone https://github.com/alouvre/ProyekDesa_Sedah.git

Cloning into 'ProyekDesa_Sedah'...
remote: Enumerating objects: 14, done.
remote: Counting objects: 100% (14/14), done.
remote: Compressing objects: 100% (11/11), done.
remote: Total 14 (delta 1), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (14/14), 229.78 KiB | 5.74 MiB/s, done.
Resolving deltas: 100% (1/1), done.

In [7]:
import pandas as pd

# **COLLECTING DATA**

## DUSUN KRAJAN

## DUSUN SIDOREJO

### RT01

In [12]:
SidorejoRT01 = pd.read_excel('ProyekDesa_Sedah/RekapSurveySensusDesaSedah/K21_SIDOREJO/DATA PENDUDUK DUSUN SIDOREJO RT 01, 02, 03.xlsx', sheet_name='RT 01')
SidorejoRT01 = SidorejoRT01.iloc[5:]
SidorejoRT01 = SidorejoRT01.drop(SidorejoRT01.columns[0], axis=1)
SidorejoRT01.head()

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38
5,MOCH ZARKASI,"PONOROGO, 05 AGUSTUS 1948",PENSIUNAN,-,MASNUNAH,"PONOROGO, 31 DESEMBER 1956",PENSIUNAN,S1,EVA HENDRAWATI,"PONOROGO, 29 MEI 1978",...,√,NaN,NaN,√,NaN,√,√,√,NaN,SEJAHTERA
6,MUH KHOIRUDIN,"PONOROGO, 7 MARET 1980",GURU,S2,RITA FITRIANI,"PONOROGO, 09 AGUSTUS 1982",PERAWAT,D III KEPERAWATAN,NARISA IZZA AQILA AS-SYAHLA,"PONOROGO, 05 JULI 2008",...,NaN,NaN,NaN,NaN,NaN,NaN,√,√,NaN,SEJAHTERA
7,HADI SAPUTRO,"MAGETAN, 11 FEBRUARI 1986",WIRASWASTA,SMA,SRI WAHYUNI,"SEBRANG PEBENAAN, 08 NOVEMBER 1991",IRT,SMA,M. IQBAL SAPUTRA,"PONOROGO, 08 MEI 2019",...,NaN,NaN,NaN,√,NaN,NaN,NaN,√,NaN,MENENGAH
8,ALMARHUM H.SADIMIN,-,-,-,SAMSIAH,"PONOROGO, 01 JULI 1968",IRT,SD,SRI WAHYUNI,"SEBRANG PEBENAAN, 08 NOVEMBER 1991",...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
9,ALMARHUM PURNOMO,-,-,-,SITI MUBAYANAH,"PONOROGO, 20 JULI 1975",IRT,SMP/SLTP,MUHAMMAD ADIMAS FANANI,"PONOROGO, 01 APRIL 2000",...,NaN,NaN,NaN,√,NaN,NaN,NaN,√,NaN,MENENGAH

In [13]:
SidorejoRT01.columns = ['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
                    'Nama_Ibu', 'TTL_Ibu', 'Pekerjaan_Ibu', 'Pendidikan_Ibu',
                    'Nama_Anak1', 'TTL_Anak1', 'Pekerjaan_Anak1', 'Pendidikan_Anak1',
                    'Nama_Anak2', 'TTL_Anak2', 'Pekerjaan_Anak2', 'Pendidikan_Anak2',
                    'Nama_Anak3', 'TTL_Anak3', 'Pekerjaan_Anak3', 'Pendidikan_Anak3',
                    'Nama_Anak4', 'TTL_Anak4', 'Pekerjaan_Anak4', 'Pendidikan_Anak4',
                    'RT_MilikSendiri', 'RT_IkutOrangTua', 'RT_Kontrak',
                    'Tanah_Sawah', 'Tanah_Kebun',
                    'HT_Sapi', 'HT_Kambing', 'HT_Ayam', 'HT_Bebek', 'HT_Lele',
                    'K_Mobil', 'K_Motor', 'Lainnya', 'Kategori'
                    ]

In [15]:
SidorejoRT01.head()

,Nama_Ayah,TTL_Ayah,Pekerjaan_Ayah,Pendidikan_Ayah,Nama_Ibu,TTL_Ibu,Pekerjaan_Ibu,Pendidikan_Ibu,Nama_Anak1,TTL_Anak1,...,Tanah_Kebun,HT_Sapi,HT_Kambing,HT_Ayam,HT_Bebek,HT_Lele,K_Mobil,K_Motor,Lainnya,Kategori
5,MOCH ZARKASI,"PONOROGO, 05 AGUSTUS 1948",PENSIUNAN,-,MASNUNAH,"PONOROGO, 31 DESEMBER 1956",PENSIUNAN,S1,EVA HENDRAWATI,"PONOROGO, 29 MEI 1978",...,√,NaN,NaN,√,NaN,√,√,√,NaN,SEJAHTERA
6,MUH KHOIRUDIN,"PONOROGO, 7 MARET 1980",GURU,S2,RITA FITRIANI,"PONOROGO, 09 AGUSTUS 1982",PERAWAT,D III KEPERAWATAN,NARISA IZZA AQILA AS-SYAHLA,"PONOROGO, 05 JULI 2008",...,NaN,NaN,NaN,NaN,NaN,NaN,√,√,NaN,SEJAHTERA
7,HADI SAPUTRO,"MAGETAN, 11 FEBRUARI 1986",WIRASWASTA,SMA,SRI WAHYUNI,"SEBRANG PEBENAAN, 08 NOVEMBER 1991",IRT,SMA,M. IQBAL SAPUTRA,"PONOROGO, 08 MEI 2019",...,NaN,NaN,NaN,√,NaN,NaN,NaN,√,NaN,MENENGAH
8,ALMARHUM H.SADIMIN,-,-,-,SAMSIAH,"PONOROGO, 01 JULI 1968",IRT,SD,SRI WAHYUNI,"SEBRANG PEBENAAN, 08 NOVEMBER 1991",...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
9,ALMARHUM PURNOMO,-,-,-,SITI MUBAYANAH,"PONOROGO, 20 JULI 1975",IRT,SMP/SLTP,MUHAMMAD ADIMAS FANANI,"PONOROGO, 01 APRIL 2000",...,NaN,NaN,NaN,√,NaN,NaN,NaN,√,NaN,MENENGAH

### RT02

In [16]:
SidorejoRT02 = pd.read_excel('ProyekDesa_Sedah/RekapSurveySensusDesaSedah/K21_SIDOREJO/DATA PENDUDUK DUSUN SIDOREJO RT 01, 02, 03.xlsx', sheet_name='RT 02')
SidorejoRT02 = SidorejoRT02.iloc[5:]
SidorejoRT02 = SidorejoRT02.drop(SidorejoRT02.columns[0], axis=1)
SidorejoRT02.head()

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38
5,Adi Marga Susila,"Ponorogo, 18 Desember 1965",Pengangguran,S1,Purwati,"Bojonegoro, 17 Agustus 1965",Ibu Rumah Tangga,SMP,Wahyu Ghany Abdullah,"Madiun, 24 Oktober 1997",...,NaN,NaN,NaN,√,NaN,NaN,NaN,√,NaN,MENENGAH
6,NaN,NaN,NaN,NaN,Tri Murtiningsih,"Ponorogo, 2 September 1962",Pensiunan,S2,Novita Tridini Maulida,"Ponorogo, 14 November 1987",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,√,NaN,SEJAHTERA
7,NaN,NaN,NaN,NaN,Mukhofifah,"Ponorogo, 16 April 1965",Wiraswasta,SMA,Ahmad Nafi'udin,"Ponorogo, 19 Februari 1991",...,NaN,NaN,NaN,√,NaN,NaN,NaN,√,NaN,MENENGAH
8,Muchlas Bin Romlah,"Ponorogo, 5 Maret 1949",Pensiunan,SPG,Siti Chosiah,"Madiun, 3 Agustus 1961",Wiraswasta,SMA,Fauziana Meiko Wati,"Ponorogo, 30 Mei 1978",...,NaN,NaN,NaN,NaN,NaN,NaN,√,√,NaN,SEJAHTERA
9,Much Bahrun Amrozi,"Ponorogo, 11 September 1974",Swasta,SLTA,Nur Saidah,Ponorogo,Guru,S1,Rayya Nayla Farha,"Ponorogo, 29 Desember 2006",...,NaN,NaN,√,NaN,NaN,NaN,√,√,NaN,SEJAHTERA

In [17]:
SidorejoRT02.columns = ['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
                    'Nama_Ibu', 'TTL_Ibu', 'Pekerjaan_Ibu', 'Pendidikan_Ibu',
                    'Nama_Anak1', 'TTL_Anak1', 'Pekerjaan_Anak1', 'Pendidikan_Anak1',
                    'Nama_Anak2', 'TTL_Anak2', 'Pekerjaan_Anak2', 'Pendidikan_Anak2',
                    'Nama_Anak3', 'TTL_Anak3', 'Pekerjaan_Anak3', 'Pendidikan_Anak3',
                    'Nama_Anak4', 'TTL_Anak4', 'Pekerjaan_Anak4', 'Pendidikan_Anak4',
                    'RT_MilikSendiri', 'RT_IkutOrangTua', 'RT_Kontrak',
                    'Tanah_Sawah', 'Tanah_Kebun',
                    'HT_Sapi', 'HT_Kambing', 'HT_Ayam', 'HT_Bebek', 'HT_Lele',
                    'K_Mobil', 'K_Motor', 'Lainnya', 'Kategori'
                    ]

In [ ]:
SidorejoRT02.head()

### RT03

In [18]:
SidorejoRT03 = pd.read_excel('ProyekDesa_Sedah/RekapSurveySensusDesaSedah/K21_SIDOREJO/DATA PENDUDUK DUSUN SIDOREJO RT 01, 02, 03.xlsx', sheet_name='RT 03')
SidorejoRT03 = SidorejoRT03.iloc[5:]
SidorejoRT03 = SidorejoRT03.drop(SidorejoRT03.columns[0], axis=1)
SidorejoRT03.head()

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38
5,SUPRIADI,"PONOROGO, 16 FEBRUARI 1973",WIRASWASTA,SLTP,MURYATI,"PONOROGO, 17 OKTOBER 1980",WIRASWASTA,SD,AISAH PUTRI PRATIWI,"PONOROGO, 23 OKTOBER 2005",...,-,-,-,-,-,-,-,√,NaN,MENENGAH
6,IMRON ZUBAIDI,"PONOROGO, 29 JULI 1977",WIRASWASTA,SLTA,ISMIATIN,"PONOROGO, 19 JULI 1977",PNS,D4,NAUFAL RIATTA AHADAN ZUBAIDI,"PONOROGO, 11 FEBRUARI 2007",...,-,-,-,-,-,-,√,√,NaN,SEJAHTERA
7,SUGENG RIYADI,"KEDIRI, 30 NOVEMBER 1970",SWASTA,SLTA,ANA INDIYAWATI,"PONOROGO, 4 MARET 1977",SWASTA,SLTA,KUNCORO BAYU SAPUTRO,"PONOROGO, 17 JUNI 1996",...,-,-,-,√,-,-,√,√,NaN,SEJAHTERA
8,ALM. MUHTAROM,-,-,-,ENDANG SUPRIHATIN,"PONOROGO, 26 SEPTEMBER 1966",BURUH TANI,SLTA,TAFIDA NUR LAILY AZIZATIN,"PONOROGO, 30 JULI 2004",...,-,-,-,-,-,-,-,√,NaN,PRASEJAHTERA
9,FAIZ FARUKI AL-KHUDZAIFI,"PONOROGO, 12 AGUSTUS 1994",SWASTA,SLTA,FRISKA NUR'AINI NOVITASARI,"PONOROGO, 27 NOVEMBER 1992",-,SLTA,-,-,...,-,-,-,-,-,-,-,√,NaN,MENENGAH

In [19]:
SidorejoRT03.columns = ['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
                    'Nama_Ibu', 'TTL_Ibu', 'Pekerjaan_Ibu', 'Pendidikan_Ibu',
                    'Nama_Anak1', 'TTL_Anak1', 'Pekerjaan_Anak1', 'Pendidikan_Anak1',
                    'Nama_Anak2', 'TTL_Anak2', 'Pekerjaan_Anak2', 'Pendidikan_Anak2',
                    'Nama_Anak3', 'TTL_Anak3', 'Pekerjaan_Anak3', 'Pendidikan_Anak3',
                    'Nama_Anak4', 'TTL_Anak4', 'Pekerjaan_Anak4', 'Pendidikan_Anak4',
                    'RT_MilikSendiri', 'RT_IkutOrangTua', 'RT_Kontrak',
                    'Tanah_Sawah', 'Tanah_Kebun',
                    'HT_Sapi', 'HT_Kambing', 'HT_Ayam', 'HT_Bebek', 'HT_Lele',
                    'K_Mobil', 'K_Motor', 'Lainnya', 'Kategori'
                    ]

In [20]:
SidorejoRT01.columns

Index(['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
       'Nama_Ibu', 'TTL_Ibu', 'Pekerjaan_Ibu', 'Pendidikan_Ibu', 'Nama_Anak1',
       'TTL_Anak1', 'Pekerjaan_Anak1', 'Pendidikan_Anak1', 'Nama_Anak2',
       'TTL_Anak2', 'Pekerjaan_Anak2', 'Pendidikan_Anak2', 'Nama_Anak3',
       'TTL_Anak3', 'Pekerjaan_Anak3', 'Pendidikan_Anak3', 'Nama_Anak4',
       'TTL_Anak4', 'Pekerjaan_Anak4', 'Pendidikan_Anak4', 'RT_MilikSendiri',
       'RT_IkutOrangTua', 'RT_Kontrak', 'Tanah_Sawah', 'Tanah_Kebun',
       'HT_Sapi', 'HT_Kambing', 'HT_Ayam', 'HT_Bebek', 'HT_Lele', 'K_Mobil',
       'K_Motor', 'Lainnya', 'Kategori'],
      dtype='object')

In [21]:
SidorejoRT02.columns

Index(['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
       'Nama_Ibu', 'TTL_Ibu', 'Pekerjaan_Ibu', 'Pendidikan_Ibu', 'Nama_Anak1',
       'TTL_Anak1', 'Pekerjaan_Anak1', 'Pendidikan_Anak1', 'Nama_Anak2',
       'TTL_Anak2', 'Pekerjaan_Anak2', 'Pendidikan_Anak2', 'Nama_Anak3',
       'TTL_Anak3', 'Pekerjaan_Anak3', 'Pendidikan_Anak3', 'Nama_Anak4',
       'TTL_Anak4', 'Pekerjaan_Anak4', 'Pendidikan_Anak4', 'RT_MilikSendiri',
       'RT_IkutOrangTua', 'RT_Kontrak', 'Tanah_Sawah', 'Tanah_Kebun',
       'HT_Sapi', 'HT_Kambing', 'HT_Ayam', 'HT_Bebek', 'HT_Lele', 'K_Mobil',
       'K_Motor', 'Lainnya', 'Kategori'],
      dtype='object')

In [22]:
SidorejoRT03.columns

Index(['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
       'Nama_Ibu', 'TTL_Ibu', 'Pekerjaan_Ibu', 'Pendidikan_Ibu', 'Nama_Anak1',
       'TTL_Anak1', 'Pekerjaan_Anak1', 'Pendidikan_Anak1', 'Nama_Anak2',
       'TTL_Anak2', 'Pekerjaan_Anak2', 'Pendidikan_Anak2', 'Nama_Anak3',
       'TTL_Anak3', 'Pekerjaan_Anak3', 'Pendidikan_Anak3', 'Nama_Anak4',
       'TTL_Anak4', 'Pekerjaan_Anak4', 'Pendidikan_Anak4', 'RT_MilikSendiri',
       'RT_IkutOrangTua', 'RT_Kontrak', 'Tanah_Sawah', 'Tanah_Kebun',
       'HT_Sapi', 'HT_Kambing', 'HT_Ayam', 'HT_Bebek', 'HT_Lele', 'K_Mobil',
       'K_Motor', 'Lainnya', 'Kategori'],
      dtype='object')

## MERGE RT 1 2 3